<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../bootstrap-5.3.3-dist/css/bootstrap.css">
    <link rel="icon" type="x/icon" href="../../../assets/logo_site.png">
    <link rel="stylesheet" href="../../../styles/style.css">
    <title>The Game Museum</title>
    <style>
    body {
        overflow-x: hidden;
        background-image: url("../../../assets/blackmythwukong.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        backdrop-filter: blur(10px);
    }

    .fixado {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: #333;
        color: white;

        z-index: 1000;
    }

    .card {
        position: relative;
        overflow: hidden;
    }

    .card:hover {
        background-color: rgb(82, 78, 78);
        cursor: pointer;
    }

    .card-body h5 {
        color: black;
        transition: color 0.3s ease;
    }

    .card:hover .card-body h5 {
        color: white;
    }

    .card img {
        transition: opacity 0.3s ease;
    }   

    .card:hover img {
        opacity: 0.6;
    }

    .tamanho {
        width: 800px;
        height: 940px;
    }

    .bg-1 {
        background-image: url("../../../assets/bg-2-smooth.jpeg");
    }

    .hidden {
        opacity: 0;
    }
    </style>
</head> 

<body>
    <div>
        <div id="navigation_container" class="d-block">
            <div id="sidebar" class="border border-light shadow-lg bg fixado"
                style="width: 290px; height: 961px; background-color: #fff;">
                <div id="container" class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary"
                    style="width: 280px; height: 951px;">
                    <a
                        class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                        <img class="bi pe-none me-2" src="../../../assets/logo_site.png" width="46" height="28">
                        </img>
                        <span class="fs-5">The Game Museum</span>
                    </a>
                    <hr>
                    <ul class="nav nav-pills flex-column mb-auto">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href=""><img src="../../../assets/golden_star.png"
                                    class="bi pe-none me-2" width="16" height="16">
                                </img> POPULAR</a>
                        </li>
                        <li>
                            <a class="nav-link link-body-emphasis" href=""><img src="../../../assets/hollowknight_head.png"
                                    class="bi pe-none me-2" width="16" height="16">
                                </img> INDIE</a>
                        </li>
                        <li>
                            <a class="nav-link link-body-emphasis" href=""><img src="../../../assets/play2_controller.png"
                                    class="bi pe-none me-2" width="16" height="16">
                                </img> RETRO</a>
                        </li>
                        <li>
                            <a class="nav-link link-body-emphasis" href=""><img src="../../../assets/coin_games.png"
                                    class="bi pe-none me-2" width="16" height="16">
                                </img> GRATUITOS</a>
                        </li>
                        <li>
                            <a class="nav-link link-body-emphasis" href=""><img src="../../../assets/cute_ghost.png"
                                    class="bi pe-none me-2" width="16" height="16">
                                </img> TERROR</a>
                        </li>
                    </ul>
                    <div class="grid gap-3">
                        <a href="https://bsky.app/profile/nightxsz.bsky.social" target="_blank"><img class="p-1 animationsocial" src="../../../assets/blueskylogo.png" width="44"></a>
                        <a href="https://www.instagram.com/siqueira.luisf/" target="_blank"><img class="p-1 animationsocial" src="../../../assets/instagramlogo.png" width="44"></a>
                        <a href="https://github.com/n1ghtxsz" target="_blank"><img class="p-1 animationsocial" src="../../../assets/githublogo.png" width="44"></a>
                        <a href="https://www.twitch.tv/nightxsz" target="_blank"><img class="p-1 animationsocial" src="../../../assets/twitch.png" width="44"></a>
                        <a href="https://www.x.com/LOWER_nightxsz" target="_blank"><img class="p-1 animationsocial" src="../../../assets/twitter.png" width="44"></a>
                    </div>
                    <hr>
                    <div class="dropdown">
                        <a href="#"
                            class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle"
                            data-bs-toggle="dropdown" aria-expanded="false"><img src="../../../assets/user_logo.png"
                                class="bi pe-none me-2" width="32" height="32"> Admin</a>
                        <ul class="dropdown-menu text-small shadow"
                            style="position: absolute; inset: auto auto 0px 0px; margin: 0px; transform: translate(0px, -34px);"
                            data-popper-placement="top-start">
                            <li>
                                <a class="dropdown-item" href="../config.html">Configurações</a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a class="dropdown-item" href="../../login/login.html">Sair</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <nav class="navbar navbar-expand-lg bg-body-tertiary shadow-lg fixado" style="margin-left: 290px; width: 164vh;">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">Navegar</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="../../index.html">Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="../catalog.html">Catálogo</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Extras
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" target="_blank"
                                            href="https://jenius-quiz.vercel.app">Jenius Quiz</a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="#">Sobre</a></li>
                                </ul>
                            </li>
                        </ul>
                        <form class="d-flex" role="search">
                            <input class="form-control me-2" type="search" placeholder="Pesquisar" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Pesquisar</button>
                        </form>
                    </div>
                </div>
            </nav>
            <main>
                <div class="d-block shadow-lg tamanho bg-light" style="margin-left: 675px;">
                    <div class="d-block tamanho bg-1">
                        <div class="d-flex p-4 bg-light shadow rounded" style="height: 300px; margin-left: 50px; margin-right: 50px;">
                            <img src="../../../assets/blackmythwukong.jpg" class="shadow-lg rounded" width="400px" height="250px">
                            <h1 class=""
                                style="height: max-content; margin-left: 60px; font-size: 50px; margin-right: 40px; font-family: Lalezar; margin-top: 60px;">
                                Black Myth Wukong</h1>
                        </div>
                        <div class="accordion" id="accordionExample" style="margin-top: 100px;">
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Sinopse
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse show"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <strong>This is the first item's accordion body.</strong> It is shown by default, until
                                        the collapse plugin adds the appropriate classes that we use to style each element.
                                        These classes control the overall appearance, as well as the showing and hiding via CSS
                                        transitions. You can modify any of this with custom CSS or overriding our default
                                        variables. It's also worth noting that just about any HTML can go within the
                                        <code>.accordion-body</code>, though the transition does limit overflow.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Criadores
                                    </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <strong>This is the second item's accordion body.</strong> It is hidden by default,
                                        until the collapse plugin adds the appropriate classes that we use to style each
                                        element. These classes control the overall appearance, as well as the showing and hiding
                                        via CSS transitions. You can modify any of this with custom CSS or overriding our
                                        default variables. It's also worth noting that just about any HTML can go within the
                                        <code>.accordion-body</code>, though the transition does limit overflow.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        Informações
                                    </button>
                                </h2>
                                <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <strong>This is the third item's accordion body.</strong> It is hidden by default, until
                                        the collapse plugin adds the appropriate classes that we use to style each element.
                                        These classes control the overall appearance, as well as the showing and hiding via CSS
                                        transitions. You can modify any of this with custom CSS or overriding our default
                                        variables. It's also worth noting that just about any HTML can go within the
                                        <code>.accordion-body</code>, though the transition does limit overflow.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <script src="../../../bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js"></script>
    <script>

    // Verifica se há uma imagem de perfil armazenada
    const profileImage = localStorage.getItem('profileImage');
    const username = localStorage.getItem('username');

    if (profileImage) {
        // Atualiza a imagem do dropdown
        document.querySelector('.dropdown img').src = profileImage;
    }

    if (username) {
        // Atualiza o nome no dropdown
        document.querySelector('.dropdown-toggle').innerHTML = `<img src="${profileImage || '../assets/user_logo.png'}" class="bi pe-none me-2" width="32" height="32"> ${username}`;
    }


    </script>
</body>

</html>